body {
	background: #35c;
}
#board {
	margin: auto;
	border: thin solid black;
	border-collapse: collapse;
}
#board td {
	width: 64px;
	height: 64px;
	background: #ff3;
}
#board td .chip {
	width: 52px;
	height: 52px;
	margin: 8px;
	border: thin solid black;
	border-radius: 27px;
	cursor: pointer;
}
#board td.blank .chip {
	background: white;
}

#board td.black .chip {
	background: #222;
}

#board td.red .chip {
	background: #c44;
}
#msg {
	width: 384px;
	margin: auto;
	font: 20px sans-serif;
	text-align: center;
	background: white;
	border: thin solid black;
	margin-top: 8px;
	padding: 4px;
}