* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
}
body {
	background: #101904;
	text-align: center;
}
#background {
	background-image: url(background.png);
	background-size: cover;
	height: 0;
	width: 100%;
	padding-top: 47.39%; /* Percent of width to maintain aspect ratio */
	position: relative;
}
#board {
	position: absolute;
	top: 32%;
	left: 41%;
	width: 19%;
	height: 50%;
	border: 2px outset blue;
	border-radius: 4px;
}
#board td {
	padding: 0;
}
#board td .chip {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: 1px solid transparent;
}
#board td .chip:hover {
	border: 1px solid red;
	border-radius: 4px;
}
#board td.blank .chip {
	background: transparent;
}
#board td.black .chip {
	background: url(player1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#board td.red .chip {
	background: url(player2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#msg {
	position: absolute;
	top: 5%;
	left: 30%;
	width: 40%;
	margin: auto;
	font: 20px sans-serif;
	text-align: center;
	background: white;
	border: 1px solid black;
	margin-top: 8px;
	padding: 4px;
}