body {
	background: #35c;
	text-align: center;
}
#board {
	margin: auto;
	border: 1px solid black;
	background: #ff3;
}
#board td, #current-player {
	width: 52px;
	height: 52px;
}
#board td {
	border: 4px solid #ff3;
	border-radius: 33px;
	cursor: pointer;
}
#current-player {
	border: 1px solid black;
	border-radius: 27px;
	margin: auto;
}
.blank {
	background: white;
}
.player0 {
	background: #222;
	background: radial-gradient(circle, #444 0%, #222 50%, #000 100%);
}

.player1 {
	background: #c44;
	background: radial-gradient(circle, #c55 0%, #c33 50%, #c11 100%);
}
.player0, .player1 {
	pointer-events: none;
}
#info {
	display: inline-block;
	width: 256px;
	vertical-align: top;
	margin: auto;
	font: 20px sans-serif;
	text-align: center;
	background: white;
	border: 1px solid black;
	margin-top: 8px;
	padding: 4px;
}
#info {
	margin-right: 8px;
}