body {
	background: #35c;
	text-align: center;
}
#b { /* board */
	margin: auto;
	border: 1px solid black;
	background: #ff3;
}
#b td, #p {
	width: 52px;
	height: 52px;
}
#b td {
	border: 4px solid #ff3;
	border-radius: 33px;
	cursor: pointer;
}
#p { /* current player */
	border: 1px solid black;
	border-radius: 27px;
	margin: auto;
	margin-top: 8px;
}
.b { /* blank */
	background: white;
}
.p0 { /* player 0 */
	background: #222;
	background: radial-gradient(circle, #444 0%, #222 50%, #000 100%);
}
.p1 { /* player 1 */
	background: #c44;
	background: radial-gradient(circle, #c55 0%, #c33 50%, #c11 100%);
}
.p0, .p1 {
	pointer-events: none; /* Removes need to detect full columns in JS */
}
#m { /* msg */
	display: inline-block;
	width: 256px;
	vertical-align: top;
	margin: auto;
	font: 20px sans-serif;
	text-align: center;
	background: white;
	border: 1px solid black;
	margin-top: 8px;
	padding: 4px;
	margin-right: 8px;
}
/* Reduces amount of HTML/JS needed for messages */
#m.m1:after { content: "goes first"; }
#m.m2:after { content: "player's turn"; }
#m.m3:after { content: "player wins!"; }
#m.m4:after { content: "Full board - tie game!"; }